/* ========== Normalize ========== */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
article,
figcaption,
figure,
footer,
header,
section {
    display: block;
}
img,
svg {
    vertical-align: middle;
}
img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-style: none;
}
body {
    margin: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

/* ========= BS ========= */

html {
    font-size: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::selection {
    background: var(--color-hl);
    color: var(--color-fg);
    text-shadow: none;
}

@font-face {
    font-family: Zangezi;
    src: url(/fonts/ZangeziVar04.woff2) format("woff2-variations");
    font-style: normal;
    font-stretch: normal;
    font-weight: normal;
    display: Fallback;
}

body {
    --color-fg: hsl(0, 0%, 100%);
    --color-bg: hsl(0, 0%, 96.9%);
    --color-bd: hsl(0, 0%, 15.7%);
    --color-hl: hsl(240, 100%, 50%);
    --fs-bs: 1em;
    --fs-h1: 5.653em;
    --fs-h2: 2.827em;
    --fs-h3: 1.999em;
    --fs-h4: 1.414em;
    --spacing: 1.6%;
    margin-top: 0;
    min-height: 100vh;
    background: var(--color-bg);
    font-family: "Zangezi", serif;
    font-weight: 400;
    line-height: 1.45;
    color: var(--color-bd);
    -webkit-font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern", "liga";
    -ms-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body.page__loading {
    overflow: hidden;
}

.page__loader-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.page__loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin: 0 auto;
}

.circle-1,
.circle-2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: var(--color-hl);
    opacity: 0.6;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.circle-2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

p {
    font-size: var(--fs-bs);
    font-weight: 300;
    margin-bottom: 1.25em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    opacity: 0.8;
    font-variation-settings: "Weig" 0;
    -webkit-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    transform: translateZ(1px);
    -webkit-transition: font-variation-settings 2s, opacity 2s,
        -webkit-transform 2s;
    -o-transition: font-variation-settings 2s, opacity 2s, transform 2s;
    transition: font-variation-settings 2s, opacity 2s, transform 2s;
}
p.in-view {
    opacity: 1;
    font-variation-settings: "Weig" 400;
    -webkit-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    transform: translateZ(1px);
}
h1,
h2 {
    font-family: "Zangezi", serif;
    font-weight: 400;
    line-height: 1.15;
}
h1 {
    margin-top: 0;
    font-size: var(--fs-h2);
    font-variation-settings: "Weig" 0;
    text-transform: uppercase;

    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

@media (max-width: 600px) {
    h1 {
        padding: 4vw calc(var(--spacing) * 3) 0;
    }
}

h2 {
    margin: 2.75rem 0 1rem;
    font-size: var(--fs-h3);
    opacity: 0.8;
    font-variation-settings: "Weig" 0;
    -webkit-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    transform: translateZ(1px);
    -webkit-transition: font-variation-settings 1.5s, opacity 1.5s,
        -webkit-transform 1.5s;
    -o-transition: font-variation-settings 1.5s, opacity 1.5s, transform 1.5s;
    transition: font-variation-settings 1.5s, opacity 1.5s, transform 1.5s;
}
h2.in-view {
    opacity: 0.99;
    font-variation-settings: "Weig" 800;
    -webkit-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    transform: translateZ(1px);
}
h1 a:hover {
    -webkit-animation: variation 0.8s ease-in-out infinite alternate;
    -moz-animation: variation 0.8s ease-in-out infinite alternate;
    -ms-animation: variation 0.8s ease-in-out infinite alternate;
    -o-animation: variation 0.8s ease-in-out infinite alternate;
    animation: variation 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes variation {
    0% {
        color: var(--color-bd);
        font-variation-settings: "Weig" 0;
    }
    100% {
        color: var(--color-hl);
        font-variation-settings: "Weig" 1000;
    }
}

@keyframes variation {
    0% {
        color: var(--color-bd);
        font-variation-settings: "Weig" 0;
    }
    100% {
        color: var(--color-hl);
        font-variation-settings: "Weig" 1000;
    }
}

/* ========= LT ========= */

.page__header {
    --bg-img: url(../images/img1.jpg);
    width: 100vw;
    height: 100vh;
    grid-area: hd;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.page__header > * {
    flex: 1;
    margin-bottom: 0;
}
.page__header > .main-img {
    width: 100%;
    height: 100%;
    background: content-box center / cover no-repeat var(--bg-img);
}

.page__footer {
    padding: calc(var(--spacing) * 1.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page__footer > p {
    margin-bottom: 0;
    font-variation-settings: "Weig" 800;
}

.page__grid > .img {
    grid-area: img;
}
.page__grid > .content {
    grid-area: bd;
    padding: 0 calc(var(--spacing) * 3);

    --col-w: 670px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    max-width: var(--col-w);
}
.page__grid--multi-col-txt > .content {
    grid-area: inherit;
}

.page__grid {
    display: -ms-grid;
    display: grid;
    grid:
        "hd"
        "bd"
        "img";
}

@media screen and (min-width: 600px) {
    /* clearfix */
    .page__grid:after {
        content: "";
        display: block;
        clear: both;
    }

    @supports (display: grid) {
        /* override */
        .page__grid > *,
        .page__grid--flip > * {
            margin: 0;
        }
        .page__grid .img,
        .page__grid--flip .img {
            width: auto;
            margin: 0;
        }
        .page__grid:after {
            content: none;
        }

        .page__grid {
            position: static;
            display: grid;
            place-items: center;
            grid:
                "hd hd" auto
                "bd img"
                "bd img"
                /1fr 1fr;
        }

        .page__grid--flip {
            grid:
                "img bd"
                "img bd"
                /1fr 1fr;
        }

        .page__grid--multi-col-txt {
            align-items: baseline;
        }

        .page__grid--multi-col-img {
            grid-column-gap: var(--spacing);
            grid:
                "img img img" min-content
                / 1fr 1fr 1fr;
        }
        .page__grid--multi-col-img > .img:nth-child(1) {
            grid-area: 1 / 1;
        }
        .page__grid--multi-col-img > .img:nth-child(2) {
            grid-area: 1 / 2;
        }
        .page__grid--multi-col-img > .img:nth-child(3) {
            grid-area: 1 / 3;
        }
    }
}

@media only screen and (min-width: 35em) {
    .page__header {
        display: flex;
        flex-flow: row;
    }

    .content {
        --spacing: 0;
        padding: var(--spacing);
    }

    p {
        font-size: var(--fs-h4);
    }
    h1 {
        font-size: var(--fs-h1);
        text-align: center;
    }
    h2 {
        font-size: var(--fs-h2);
    }
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
